*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
  line-height: 1.5;
}
img{
	max-width: 100%;
	height: auto;
	vertical-align: middle; 
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
$primary:#AA0601;
$Secondary:#650300;
$white:#fff;