<nav>
  <div class="nav container">
    <ul>
      <li>最新消息</li>
      <li>特別企劃</li>
      <li>新品上市</li>
      <li>鏡框小知識</li>
    </ul>
    <a href="#" alt="search">
      <span class="material-symbols-outlined"> search </span>
    </a>
  </div>
</nav>
