<footer>
  <div class="footer-top">
    <div class="top-left">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="footer-content"></div>
  <div class="footer-bottom"></div>
</footer>