header{
  background-color: $primary;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.header-img img{
  width: 80px;
  height: 48px;
}
.header-ul{
  display: flex;
  justify-content: space-between;
  width: 492px;
  a{
    font-size: 20px;
    color: $white;
  }
}

@media (max-width:768px) {
  .header{
    padding: 16px 36px;    
  }
  .header-ul{
    max-width: 492px;
  }
}

@media (max-width:376px) {
  .header{
    flex-direction: column;
    align-items: start;
    padding: 0 0;
  }
  .header-img{
    padding: 12px 15px;
  }
  .header-ul{
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    li{
      width: 50%;
      border: 1px solid #fff;
      align-items: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a{
      margin-left: 0px;
      font-size: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
    }
  }
}