nav{
  display: flex;
  justify-content: space-between;
  background-color: #AA0601;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav-img{
  max-width: 80px;
  max-height: 49px;
}
.nav-ul{
  display: flex;
  justify-content: space-between;
  a{
    margin-left: 64px;
    font-size: 20px;
    color: #FFFFFF;
  }
}

@media (max-width:768px) {
  nav{
    padding: 16px 36px;    
  }
}

@media (max-width:376px) {
  nav{
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0;
    align-items: start;
    img{
      padding: 15px 16px;
    }
  }
  .nav-ul{
    justify-content: flex-start;
    flex-wrap: wrap;
    li{
      border: 1px solid #fff;
      align-items: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a{
      text-align: center;
      width: 186px;
      margin-left: 0px;
      font-size: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}