.banner{
  background: url(/assets/images/home-header.png) center / cover;
  padding-top: 296px;
  padding-bottom: 296px;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  color: $Secondary;
  h2{
    font-size: 36px;
  }
  h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  a{
    color: $white;
    font-size: 20px;
    font-weight: 500;
    background-color: $primary;
    padding: 6px 12px;
  }
}
.banner-a{
  width: 104px;
  text-align: right;
}

@media (max-width:768px) {
  .banner{
    padding: 296px 37px;
    background: url(/assets/images/home-header-sm.png) center / cover;
  }
}

@media (max-width:376px) {
  .banner{
    padding: 144px 14px;
  h2{
    font-size: 16px;
  }
  h1{
    font-size: 24px;
    margin-bottom: 8px;
  }
  a{
    color: $white;
    padding: 6px 12px 5px 12px;
  }
  }
}